.booksFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books_left {
  padding: 10px;
}

.books_left img {
  width: 100%;
  height: auto;
}

.books_right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .books_left {
    padding: 0px;
  }
  .books_right {
    padding: 0px;
  }
  .books .grid2 {
    display: block;
    margin-bottom: 15px;
  }
  .books img {
    padding-bottom: 15px;
  }
}
