.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 35%;
  animation: animate calc(10s * var(--i)) linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 900px) {
  .clouds img {
    height: auto;
  }
}
